[[inputs.docker]]
  # https://github.com/influxdata/telegraf/tree/master/plugins/inputs/docker
  interval = "15s"
  endpoint = "unix:///var/run/docker.sock"
  gather_services = true

[[outputs.prometheus_client]]
  # https://github.com/influxdata/telegraf/tree/master/plugins/outputs/prometheus_client
  listen = ":9273"
  path = "/metrics"
  expiration_interval = "60s"
